body {
  font-family: 'Courier New', monospace;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #00ffcc;
  text-shadow: 2px 2px #000;
}

form {
  margin: 20px auto;
  max-width: 320px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #00ffcc;
  box-shadow: 0 0 15px #00ffcc;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #00ffcc;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #0f0;
  font-size: 1em;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  background: #00ffcc;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px #008080;
}

button:hover {
  background: #00ffaa;
}

#result {
  margin-top: 25px;
  padding: 15px;
  background: #000;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  font-size: 1.2em;
  color: #0f0; /* зелёный текст как на игровом дисплее */
  text-shadow: 0 0 5px #0f0;
}
